/* Impostazioni Generali */

body {
	background-color: rgb(53, 53, 53);
	background-image: url("../img/bg1.png");
	overflow-y: hidden;
	overflow-x: hidden;
	color: #ffffff;
	height: 100vh;


  /* Center and scale the image nicely */

  background-repeat: no-repeat;
  background-size: cover;

}

/*  navbar */
#navbar {
	text-align: center;
	opacity: 0.3;
	background-color: #4debce;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5%;

}

/* Elementi */
#iconedescktop button,
#iconedescktop button:focus,
#iconedescktop button:active
 {
	background-color: transparent !important;
	padding: 0;
	border: 0;
}
button,
button:focus,
button:active
 {
	
	padding: 0;
	border: 0;
}
#popup,
#popup2,
#popup3,
#popup4,
#popup5,
#popup6,
#popup7,
#popup8,
#popup10,
#popup11,
#popup12,
#popup13,
#popup14,
#popup15,
#popup16,
#popup17,
#popup18,
#popup19,
#popup20{
	opacity: 1;
	max-height: 0px;
	transition: max-height 0.3s, opacity 0.3s;
}

#popup.close,
#popup2.close,
#popup3.close,
#popup4.close,
#popup5.close,
#popup6.close,
#popup7.close,
#popup8.close,
#popup10.close,
#popup11.close,
#popup12.close,
#popup13.close,
#popup14.close,
#popup15.close,
#popup16.close,
#popup17.close,
#popup18.close,
#popup19.close,
#popup20.close{
	display: none;
	opacity: 0;
	max-height: 0;
}

/* Elementi Pagina */
#cronometro{
	padding: 70px;
}
.buttoncronometro, .buttoncronometro:focus, .buttoncronometro:active {
background-color: #ffffff !important;
color: #1b1b1b !important;
padding: 10px;
}
#minuti,
#secondi,
#millisecondi {
	font-size: 40px;
}
.cronometroimput{
	margin-left: 40px;
	margin-bottom: 40px;
}
#url {
    width: 725px;
	color:black;
}
#sfondolink {
	margin-left: 50px;
	width:400px;

}
.sfondoico{
	width: 150px;
}

.sfondourl {
	padding-right: 29px !important;
	padding-left: 40px;
	margin-left:190px;
	margin-top:20px;
	border: 3px solid #1b1b1b;
	border-radius: 15px;
	}
#internocalcolatrice,
#internotxt,
#internobackground,
#internocronometro,
.finestra,
.finestra2 {
	width: 500px;
	height: 550px;
	background-color: #1b1b1b;
	margin: 0 auto;
	border-radius: 10px;
	border:1px solid #1b1b1b;
	position: relative;
}



.finestra2 {
	top: 20%;
	left: 80%;
	position: fixed;
	box-shadow: 0 2px 30px rgb(83, 83, 83);
}

.finestra3 {
	top: 5%;
	left: 60%;
	box-shadow: 0 2px 30px rgb(83, 83, 83);
	background-color: #1b1b1b;
	position: fixed;
}

.finestra4 {
	top: 5%;
	left: 10%;
	box-shadow: 0 2px 30px rgb(83, 83, 83);
	background-color:rgba(0,0,0, 0.5);;

	
	position:fixed;
	border: 2px solid;
	border-radius: 20px;
	border-color: black;
}
.finestra5 {
	top: 10%;
	left: 4%;

	box-shadow: 0 2px 30px rgb(83, 83, 83);
	background-color:rgba(0,0,0, 0.5);;
	position: fixed;

	display: grid;
    backdrop-filter: blur(5em);
    transition-duration: 0.5s;
    width: 36em;
    border-radius: 1em;
    position: fixed;
    bottom: calc(13%);
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition-timing-function: cubic-bezier(.4, .01, .15, 1.1);
}

.finestra {
	box-shadow: 0 30px 20px rgb(83, 83, 83);

	border-radius: 2%;
	color: #ffffff;
	filter: blur(8px);
	-webkit-filter: blur(8px);
}

.finestra img {
	padding: 2%;
	padding-left: 7%;
	padding-right: 5%;
	float: left;
}

.finestra2 img {
	padding: 2%;
	padding-left: 7%;
	padding-right: 5%;
	float: left;
}

.finestra2 p {
	font-size: small;
	padding: 4%;
}

.finestra3 img {
	padding: 2%;
	padding-left: 7%;
	padding-right: 5%;
	float: left;
}

.finestra3 p {
	font-size: small;
	padding: 1%;
}





.finestra4 img {
	padding: 0%;
	padding-left: 10%;
	padding-right: 1%;
	float: left;
	width: 3%;
}

.finestra4 p {
	font-size: small;
	padding: 1%;
}

.finestra p {
	font-size: small;
	padding: 4%;
}

#internotxt textarea {
	background-color: #1b1b1b;
	border: 0;
	color: #ffffff;

}

#internocalcolatrice p {
	font-size: 300%;
}

#windowsbuttonon {

	width: 200px;
	height: 100px;
	text-align: center;
	border-radius: 3%;
	padding: 1%;
	position: fixed;

	margin-left: 85%;
	margin-top: -30%;


	background-color: #303030;
	box-shadow: 0 10px 30px rgb(83, 83, 83);
	color: aliceblue;
}

#windowsbutton p {
	margin-top: 30%;
}


#windows1,
#windows2,
#windows3 {
	color: #8d8d8d;
	border: 0;
	float: right;
	padding-top: 1%;
	border-radius: 2%;
	margin-left: 20px;

	padding-left: 5px;
	font-size: large;
}

#windows3:hover {
	color: white;
	border-radius: 0% 10% 0%;
}

#windows2:hover,
#windows1:hover {
	color: white;
	border-radius: 0% 10% 0%;
}

#result {
	height: 120px;

	position: relative;
	border-radius: 5px;
}

#history {
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 35px;
	color: #ffffff;
}

#output {
	text-align: right;
	height: 60px;
	margin: 10px 20px;
}

#keyboard {
	height: 400px;
	padding: 2%;
}

#keyboard img {
	padding: 30%;
	height: 35%;
}

.operator,
.number,
.empty {
	width: 70px;
	height: 50px;
	margin: 1px;

	float: left;
	border-radius: 10%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}

.number,
.empty {
	background-color: #eaedef;
}

.number,
.operator {
	cursor: pointer;
}

.operator:active,
.number:active {
	font-size: 13px;
}

.operator:focus,
.number:focus,
.empty:focus {
	outline: 0;
}

button:nth-child(1),
button:nth-child(2),
:nth-child(3),
:nth-child(4),
:nth-child(5),
:nth-child(6),
:nth-child(7),
:nth-child(8),
:nth-child(12),
:nth-child(16),
:nth-child(20) {
	color: #ffffff;
	font-size: 15px;
	background-color: transparent;
	font-weight: lighter;
}

button:nth-child(24) {
	font-size: 10px;
	font-weight: lighter;
	background-color: #cc87e7;
}

button:nth-child(9),
:nth-child(10),
:nth-child(11),
:nth-child(13),
:nth-child(14),
:nth-child(15),
:nth-child(17),
:nth-child(18),
:nth-child(19),
:nth-child(21),
:nth-child(22),
:nth-child(23) {
	color: #ffffff;
	font-size: 20px;
	font-weight: lighter;
}

button:nth-child(9):hover,
:nth-child(10):hover,
:nth-child(11):hover,
:nth-child(13):hover,
:nth-child(14):hover,
:nth-child(15):hover,
:nth-child(17):hover,
:nth-child(18):hover,
:nth-child(19):hover,
:nth-child(21):hover,
:nth-child(22):hover,
:nth-child(23):hover {
}

button:nth-child(1):hover,
button:nth-child(2):hover,
:nth-child(3):hover,
:nth-child(4):hover,
:nth-child(5):hover,
:nth-child(6):hover,
:nth-child(7):hover,
:nth-child(8):hover,
:nth-child(12):hover,
:nth-child(16):hover,
:nth-child(20):hover {
	color: #ffffff;
	font-size: 15px;
	font-weight: lighter;
}

button:nth-child(24):hover {
	font-size: 10px;
	font-weight: lighter;
	background-color: #b073c9;
}

#mobile {
	margin-top: 50%;
	padding: 20%;
	background-color: #dd3333;
	font-size: large;
}

#mobile img {
	margin: 20%;
	width: 50%;
}
#calendario{
	float: right;
	width: 5%;
	margin-top: 0.5%;
	background-color: transparent;
}
#navbaricon{
	float: right;
	background-color: transparent;
	width:50px;
	margin-top: 10px;
}
@media screen and (max-width: 490px) {

	#iconedescktop {
		display: none;
	}

	#navbar {
		display: none;
	}
}

@media screen and (min-width: 491px) {

	#mobile {
		display: none;
	}
}




#preloader {
	background: #000 url(../img/preloader.gif) no-repeat center center;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
}



















/* New ggggggg */

.padding-start:not(#footer-start-section) {
    padding: 0 2em 1em 2em;
}
.app-container-header {
    font-size: 0.95em;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 1.5em 1em;
    align-items: center;
}

.app-container-header span {
    filter: drop-shadow(0 0 1em white);
}

.app-container-header div {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.2em 0.2em 0.2em 0.5em;
    border-radius: 0.5em;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    transition-duration: 0.2s;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-container-header div:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition-duration: 0.5s;
    border-top: none;
}

.app-container-header div svg {
    padding: 0 0 0 0.5em;
    fill: white !important;
}


#second-app-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5em;
}

#second-app-container div {
    aspect-ratio: 1;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
    cursor: pointer;
}

#second-app-container div:hover {
    background-color: var(--glass-white-color);
    transition-duration: 0.1s;
}

#second-app-container img {
    aspect-ratio: 1;
    width: 2.5rem;
    margin: 0.1em;
}

#second-app-container span {
    font-size: 0.7em;
    font-weight: lighter;
    color: white;
    text-align: center;
    text-transform: capitalize;
}

#second-app-container>div:active img {
    transform: scale(0.8);
    transition-duration: 0.3s;
}

#second-app-container>div img {
    transition-duration: 0.3s;
}

@media (max-height: 750px) {
    #article-div {
        display: none;
    }
}


#article-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

#article-container img {
    aspect-ratio: 1;
    width: 2.5em;
    padding: 0.3em 1em;
}

#article-container>div {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    padding: 0.5em;
    border-radius: 0.3em;
    align-items: center;
    transition-duration: 0.5s;
    cursor: pointer;
}

#article-container>div:hover {
    background-color: var(--glass-white-color);
    transition-duration: 0.5s;
}

#article-container>div>div:nth-child(2)>div:nth-child(1) {
    font-size: 0.9em;
}

#article-container>div>div:nth-child(2)>div:nth-child(2) {
    font-size: 0.8em;
    margin-top: 0.2em;
    opacity: 0.7;
}

#footer-start-section {
    height: auto;
    backdrop-filter: blur(10em);
    background-color: rgba(0, 0, 0, 0.514);
    outline: rgba(255, 255, 255, 0.1) solid 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4em;
    align-items: center;
}
.nome-utente-start-section,
.spegni-pc-start-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    transition-duration: 0.2s;
}

.nome-utente-start-section:hover,
.spegni-pc-start-section:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5em;
    transition-duration: 0.5s;
}

.nome-utente-start-section svg {
    height: 1.7em;
    width: auto;
    fill: white !important;
}
.spegni-pc-start-section svg {
    height: 1.7em;
    width: auto;
    fill: white !important;
}


.starticon {
	aspect-ratio: 1;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
    cursor: pointer;
}
.starticon:hover {
	background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5em;
    transition-duration: 0.5s;
}